.stApp {
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTJ0NnViZ3JvdjlwbjFudjVleXNmaXljZGEyZWlxaDAxanJ5NmdlMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Skv6LLzPcpxv3uEaCn/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
