.stApp {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTRkaGh3ZHc2cXpidGcyNmhqejN5NWF6MWs4ZDR4dm9pcTNrMzg0NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/0Qv8WySxVtKIqrAPbv/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
