.stApp {
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzQ0aHlqbjhuZm9hZzEyYm5xb25hcm1hOXc4azd0c3EwdjVmdTR3ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/p6EDJOPtyd0DJSuDef/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
